<div class="container-fluid">
<div class="jumbotron">
    <h1>Player</h1>
</div>
<h4>Current Players</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead class="thead-dark">
    <tr>
        <th>Name</th>
	<th>Team</th>
	<th>Country</th>
	<th>Area</th>
	<th>Height (m)</th>
	<th>Weight (lbs)</th>
	<th>Skill Rating</th>
	<th>Age</th>
	<th>Position</th>
	<th>Captain</th>
	<th>Edit</th>
	<th>Delete</th>
    </tr>
</thead>
<tbody>
{{#each allPlayerInfo}}
    <tr>
	<td>{{fname}} {{lname}}</td>
	<td>{{team_name}}</td>
	<td>{{country_name}}</td>
	<td>{{area_name}}</td>
	<td>{{height}}</td>
	<td>{{weight}}</td>
	<td>{{skill_rating}}</td>
	<td>{{age}}</td>
	<td>{{position_name}}</td>
	{{#if captain}}
	<td>Yes</td>
	{{else}}
	<td>No</td>
	{{/if}}
	<form action="player/edit/{{player_id}}" method="get" onsubmit="return confirmEdit('{{fname}} {{lname}}')">
	  <td><input type="submit" value="Edit"></td>
	</form>
	<form action="/player/delete/{{player_id}}" method="get" onsubmit="return confirmDelete()">
	  <td><input type="submit" value="Delete"></td>
	</form>
    </tr>
{{/each}}
</tbody>
</table>
</div>
<br>
<div class="row">
<div class="col-sm-6">
<form action="/player/search" method="post" name="playerSearchForm" onsubmit="return validatePlayerSearch()">
<h4>Player Search</h4>
<input type="text" class="form-control" name="player_search" id="player_search" value="">
<br>
<input type="submit" class="btn btn-primary" value="Go">
</form>
</div>
</div>
<br>
<form action="/player" method="post" name="playerForm" onsubmit="return validatePlayerForm()">
    <fieldset>
	<legend>Add New Player</legend>
	<div class="form-row">
	<div class="form-group col-sm-6">
	    <label for="fname">First Name</label>
	    <input type="text" class="form-control" name="fname" id="fname">
	</div>
	<div class="form-group col-sm-6">
	    <label for="lname">Last Name</label>
	    <input type="text" class="form-control" name="lname" id="lname">
	</div>
	</div>
	<div class="form-row">
	  <div class="form-group col-sm-4">
	      <label for="team">Team</label>
	      <select class="form-control" name="team" id="team">
		  {{#each allTeams}}
	            <option value="{{team_id}}">{{team_name}}</option>
		  {{/each}}
	      </select>
	  </div>
	  <div class="form-group col-sm-4">
	      <label for="country">Country</label>
	      <select class="form-control" name="country" id="country">
		{{#each allCountries}}
	          <option value="{{country_id}}">{{country_name}}</option>
		{{/each}}
	      </select>
	  </div>
	  <div class="form-group col-sm-4">
	      <label for="area">Area</label>
	      <select class="form-control" name="area" id="area">
		{{#each allAreas}}
	          <option value="{{area_id}}">{{area_name}}</option>
		{{/each}}
	      </select>
	  </div>
	</div>
	<div class="form-row">
	  <div class="form-group col-sm-2">
	    <label for="height">Height</label>
	    <input class="form-control" type="number" step="0.01" name="height" id="height">
	  </div>
	  <div class="form-group col-sm-2">
	    <label for="weight">Weight</label>
	    <input class="form-control" type="number" step="0.01" name="weight" id="weight">
	  </div>
	  <div class="form-group col-sm-2">
	    <label for="skill_rating">Skill Rating</label>
	    <input class="form-control" type="number" name="skill_rating" id="skill_rating">
	  </div>
	  <div class="form-group col-sm-2">
	    <label for="age">Age</label>
	    <input class="form-control" type="number" name="age" id="age">
	  </div>
	  <div class="form-group col-sm-2">
	    <label for="position">Position</label>
	    <select class="form-control" name="position" id="position">
		{{#each allPositions}}
	          <option value="{{position_id}}">{{position_name}}</option>
		{{/each}}
	    </select>
	  </div>
	  <div class="form-group col-sm-2">
	    <label for="captain">Captain</label>
	    <select class="form-control" name="captain" id="captain">
		   <option value="0">No</option>
		   <option value="1">Yes</option>
	    </select>
	  </div>
	</div>
	<div class="form-row">
	  <input class="form-control btn btn-primary" type="submit">
	</div>
    </fieldset>
</form>
</div>
